<!DOCTYPE html>
<html>
<head>
    <title>Employee Registration</title>
</head>
<body>
    <h1>Register a New Employee</h1>
    <form action="" method="POST">
        <label for="EmpID">Employee ID:</label>
        <input type="text" name="EmpID"><br>

        <label for="EmpName">Employee Name:</label>
        <input type="text" name="EmpName"><br>

        <label for="EmpGender">Employee Gender:</label>
        <input type="text" name="EmpGender"><br>

        <label for="EmpPhone">Employee Phone:</label>
        <input type="text" name="EmpPhone"><br>

        <label for="EmpBdate">Employee Birthdate:</label>
        <input type="date" name="EmpBdate"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
